:root { 
--lime_900_1e:#7c58001e; 
--orange_100_1e1:#ffdea61e; 
--gray_900_14:#251a0314; 
--gray_900_15:#412d0014; 
--green_100:#ceebc1; 
--gray_900_16:#1e1b1614; 
--pink_900:#690005; 
--light_green_200:#dac4a0; 
--gray_500_1e:#9a8f801e; 
--gray_300_14:#e9e1d914; 
--gray_900_17:#27190014; 
--red_900_14:#ba1a1a14; 
--bluegray_900_1e:#34302a1e; 
--black_900_00:#00000000; 
--black_900_dd:#000000dd; 
--orange_300_14:#f9bd3f14; 
--white_A700_14:#ffffff14; 
--gray_400_14:#d1c5b414; 
--gray_300_1e1:#eee1cf1e; 
--gray_804:#354d2e; 
--black_900_4c:#0000004c; 
--gray_600:#807667; 
--gray_400:#d1c5b4; 
--gray_802:#54452a; 
--gray_803:#4b4640; 
--gray_800:#49454f; 
--gray_801:#4e4639; 
--lime_900:#7c5800; 
--orange_100_14:#f8dfb914; 
--gray_800_14:#4e463914; 
--orange_100_15:#ffdea614; 
--gray_900_28:#1e1b1628; 
--gray_900_29:#251a0328; 
--deep_orange_50_14:#f8efe714; 
--gray_900_1e:#1e1b161e; 
--gray_900_1e1:#251a031e; 
--black_900_99:#00000099; 
--gray_900_1e3:#2719001e; 
--gray_900_1e2:#412d001e; 
--deep_orange_200_14:#ffb4ab14; 
--gray_900_5e:#1e1b165e; 
--green_100_14:#cdebbf14; 
--gray_300_1e:#e9e1d91e; 
--white_A701:#fffbff; 
--black_900_14:#09200614; 
--gray_600_1e:#8076671e; 
--white_A700:#ffffff; 
--gray_300_5e:#e9e1d95e; 
--deep_orange_50:#f8efe7; 
--gray_500_7e:#9a8f807e; 
--white_A700_1e:#ffffff1e; 
--red_900:#ba1a1a; 
--gray_800_28:#4e463928; 
--gray_910:#3c2e15; 
--deep_orange_200_1e:#ffb4ab1e; 
--gray_911:#271900; 
--green_100_1e:#cdebbf1e; 
--orange_100_28:#f8dfb928; 
--black_900_1e:#0920061e; 
--light_green_900:#5e4200; 
--black_904:#0a2007; 
--red_900_1e:#ba1a1a1e; 
--black_900:#000000; 
--lime_900_14:#7c580014; 
--gray_800_1e:#4e46391e; 
--orange_100_1e:#f8dfb91e; 
--deep_orange_200:#ffb4ab; 
--gray_903:#1d1d1d; 
--deep_orange_50_1e:#f8efe71e; 
--black_900_26:#00000026; 
--gray_908:#251a04; 
--gray_501:#b1aaa2; 
--gray_700:#6d5c3f; 
--gray_301:#e4e4e4; 
--orange_300_1e:#f9bd3f1e; 
--gray_500:#9a8f80; 
--gray_302:#eee1cf; 
--gray_901:#121212; 
--gray_902:#412d00; 
--gray_900:#1e1b16; 
--gray_400_1e:#d1c5b41e; 
--bluegray_900_14:#34302a14; 
--bluegray_100:#cac4d0; 
--gray_900_7c:#1e1b167c; 
--orange_301:#ffc244; 
--gray_300:#e9e1d9; 
--orange_300:#f9bd3f; 
--orange_101:#ffdea6; 
--orange_100:#f7dfbb; 
--bluegray_900:#34302a; 
--gray_400_28:#d1c5b428; 
--gray_300_7c:#e9e1d97c; 
--gray_600_7e:#8076677e; 
}